*.iml
*.iws
.kotlin
.gradle
/local.properties
/keystore.properties
/keystore
.idea/caches/
.idea/libraries/
.idea/artifacts/
.idea/shelf/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/navEditor.xml
.idea_modules/
.idea/mongoSettings.xml
.idea/copilot*
.DS_Store
build
release
/captures
.externalNativeBuild
.cxx
/kotlin-js-store/wasm/yarn.lock
/.idea/AndroidProjectSystem.xml
