*.iml
.gradle
/local.properties
/keystore.properties
/keystore
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/copyright
.DS_Store
build
release
/captures
.externalNativeBuild
.cxx
